.glfuN {
    background-color:#00365F !important;
}
.hQsUiY {
    background-color: #00365F !important;
    color: white !important;
}


.iOCYje {
    background-color: #C4C7CD !important;
}

.ipSaXD {
    background: #00365F !important;
    color: white !important;
}

.btn-primary-delete{
    background-color: red;
    color: white;
    border-radius: 50px;
}
.btn-primary-team {
    background-color: #00365F;
    color: white;
    border-radius: 50px;

}
.success-container{
    background: white;
    position: absolute;
    top: 0;
    width: 100%!important;
    height: 100vh;
    z-index: 1;
}
.main-chat{
    position: absolute;
    top: 50px;
    left: 350px;
    margin: auto;
    width: 50%;
    padding: 10px;
}